@charset "UTF-8";

@font-face {
    font-family: 'UniSansThic';
    src:   url('fontes/Uni\ Sans\ Heavy\ Italic.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'UniSansThic';
}

header {
    background-color: #f21c32;
    height: 150px;    
    font-size: 20px;
    text-decoration: none;
    padding: 0px 0px 0px 386px;
        
}

.logo {
    display: inline-block;
    padding: 29px 435px 29px 0px;
         
}

.social{
    display: inline-block; 
    width: 40px;
    height: 40px;
    border-style: hidden;
    padding: 55px 0px 55px 0px;   
    
}

nav{
    background-color: #161650;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.384);
    padding-left: 310px;
    height: 57px;    
}

nav>a{
    font-weight: bolder;
    font-size: large;  
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
    padding: 15px;    
}

nav>a:hover{
    background-color: #ffffff;
    color: #161650;        
}

.mainmenubtn{
    background-color: #161650;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 15px;
    font-size: large;
}

.mainmenubtn:hover {
    background-color: #ffffff;
    color: #161650;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    min-width: 230px;
}

.dropdown-child a {
    color: #ffffff;
    background-color: #f21c32;
    padding: 20px;
    text-decoration: none;
    display: block;    
}

.dropdown-child a:hover {
    color: #f21c32;
    padding: 18px;
    text-decoration: none;
    display: block;
    background-color: #ffffff;    
}

.dropdown:hover .dropdown-child {
    display: block;
    color: #ffffff;
    background-color: #f21c32;    
}

span{
    display: inline-block;
}



main{
    max-width: 1100px;
    margin-left: 310px;
}

div#twitch-embed{
    margin-top: 15px;
}

footer{
    background-color: #f21c32;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer a{
    color: #161650;
    text-decoration: none;
}