@charset "UTF-8";

@font-face {
    font-family: 'UniSansThin';
    src:   url('fontes/Uni\ Sans\ Thin.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'UniSansThin';
}

header {
    background-color: black;
    height: 150px;    
    font-size: 20px;
    text-decoration: none;
    padding: 0px 0px 0px 386px;
        
}
span>a{
    text-decoration: none;    
}
.logo {
    display: inline-block;
    padding: 29px 435px 29px 0px;
         
}

.social{
    display: inline-block; 
    width: 40px;
    height: 40px;
    border-style: hidden;
    padding: 55px 0px 55px 0px;    
}

nav{
    background-color: black;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.384);
    padding: 17px 17px 17px 310px;
    font-style: italic;
    font-weight: bolder;
}

.btn{
    font-weight: bolder;
    font-size: large;  
    color: #f21c32;
    text-decoration: none;
    transition-duration: 0.5s;
    padding: 15px;        
}

.btn:hover{
    background-color: #f21c32;
    color: #ffffff;        
}

.dropdown{
    position: relative;
    display: inline-block; 
}
.dropbtn{
    font-weight: bolder;
    font-size: large;      
    text-decoration: none;
    transition-duration: 0.5s;    
    background-color: black;
    color: #f21c32;
    padding: 15px;
    border: none;    
}
.dropdown-content{    
    display: none;
    position: absolute;
    top:36px;
    background-color: #f21c32;
    color: #ffffff;
    min-width: 230px;
    z-index: 1;
}
.dropdown-content a{
    color: #ffffff;
    background-color: #f21c32;
    padding: 15px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: black;
    color: #f21c32;
    color: #ffffff;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: #f21c32;
    color: #ffffff;
}

span{
    display: inline-block;
}

main{
    max-width: 1100px;
    margin-left: 310px;    
    margin-bottom: 30px;
}

div#twitch-embed{
    margin-top: 15px;
}

footer{
    background-color: black;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer a{
    color: #f21c32;
    text-decoration: none;
}